@page "/expenses"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using SpendlessBlazor.Shared
@using SpendlessBlazor.Services
@using System.Net.Http.Json

@inject SpendlessBlazor.Services.IInfoService InfoService
@inject HttpClient httpClient

<h3>Where did you spend your money?</h3>

<br />

<div class="gap-4 d-flex flex-wrap">
    <MudTextField @bind-Value="textValue" Label="I spent money on..." Variant="Variant.Outlined"></MudTextField>
    @code {
        public string? textValue { get; set; }
    }
    <MudAutocomplete T="string" Label="Category" @bind-Value="categoryValue" SearchFunc="@Search1" Variant="Variant.Outlined" />
    @code {
        private string? categoryValue;
    }
    <MudTextField @bind-Value="amount" Label="Amount" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
    @code {
        public double? amount { get; set; }
    }
    <MudDatePicker Label="Date" Editable="true" @bind-Date="date" Variant="Variant.Outlined" />
    @code {
        DateTime? date = DateTime.Today;
    }
</div>

<br />

<button class="btn btn-primary" @onclick="WriteToJson">Save</button>

<br />

<br />

<MudSimpleTable Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Style="overflow-x: auto;">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            if (info != null)
                for (int i = 0; i < info.Count; i++)
                {
                    <tr>
                        <td>@info.ElementAt(i).textValue</td>
                        <td>@info.ElementAt(i).categoryValue</td>
                        <td>@info.ElementAt(i).amount</td>
                        <td>@info.ElementAt(i).date</td>
                    </tr>
                }
        }
    </tbody>
</MudSimpleTable>
@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;

    string[] headings = { "Item", "Category", "Amount", "Date" };
}

@code {

    [Parameter]
    public List<Info> info { get; set; } = new List<Info>();

    private string[] categoryValues =
    {
        "Housing", "Transportation", "Food", "Utilities", "Investing",
        "Household", "Personal", "Personal Development", "Gifts/Donations",
        "Entertainment", "Medical/Healthcare", "Insurance", "Kids",
        "Pets", "Subscriptions", "Clothing", "Travel", "Technology"
    };

    public void WriteToJson()
    {
        info.Add(new Shared.Info(textValue, amount, categoryValue, date));

        var options = new JsonSerializerOptions { WriteIndented = true };
        string jsonString = JsonSerializer.Serialize(info, options);

        //System.IO.File.WriteAllText($"{System.IO.Directory.GetCurrentDirectory()}{"\\wwwroot\\data.json"}", jsonString);

        String path = $"{System.IO.Directory.GetCurrentDirectory()}{"\\wwwroot\\data.json"}";

        using (FileStream fileStream = new FileStream(path, FileMode.Create, FileAccess.Write, FileShare.None))
        {
            using (System.IO.StreamWriter streamWriter = new System.IO.StreamWriter(fileStream))
            {
                streamWriter.Write(jsonString);
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        info = InfoService.ReadJson();
    }

    private async Task<IEnumerable<string>> Search1(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return categoryValues;
        return categoryValues.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
}