@page "/profile"

@using SpendlessBlazor.Pages
@using System.Linq
@using SpendlessBlazor.Services
@inject SpendlessBlazor.Services.IInfoService<Info> InfoService
@inject ISnackbar Snackbar

<h1>Profile (dummy)</h1>


<div class="gap-4 d-flex flex-wrap">
    <MudTextField @bind-Value="textValue" Label="Enter your name" Variant="Variant.Outlined"></MudTextField>
    @code {
        public string? textValue { get; set; }
}
    <MudTextField @bind-Value="income" Label="Income" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
    @code {
        public double income { get; set; } = 0;
    }
</div>
<br />
<button class="btn btn-primary" >Save</button>
<br />
<br />

<h3>Balance: @Balance()</h3>

<br />
<br />

<MudSimpleTable dense="@dense" hover="@hover" bordered="@bordered" striped="@striped" style="overflow-x: auto;">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
   <tbody>
    
        @{
            if (Expenses.info != null)
                foreach (var tempCategory in Enum.GetValues(typeof(Shared.CategoryValues))
                                                .Cast<Shared.CategoryValues>()
                                                .Select(x => x.ToString())
                                                .ToArray())
                {
                   if (categoryExpenses(tempCategory, Expenses.info) != 0)
                    {
                        <tr>
                            <td>@tempCategory</td>
                            <td>@categoryExpenses(tempCategory, Expenses.info)</td>
                        </tr>
                    }
                }
        }
    </tbody>
</MudSimpleTable>
@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;

    string[] headings = { "Category", "Total expenses" };
}


@code {


    public double TotalExpenses(List<Info> info)
    {
        return Expenses.info.Where(item => item.amount > 0).Sum(item => item.amount);
    }

    public double categoryExpenses(String category, List<Info> info)
    {
       Shared.CategoryValues tempEnum;
            if (!Enum.TryParse(category, out tempEnum))
            SnackBarService.WarningMsg("Fields can not be empty!");
        return Math.Round(info.Where(item => item.categoryValue == tempEnum && item.amount > 0).Sum(item => item.amount), 2);
    }

    public double Balance()
    {
        return Math.Round(income - TotalExpenses(Expenses.info), 2);
    }

    protected override async Task OnInitializedAsync()
    {
        Expenses.info = InfoService.ReadJson();
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);
    }
}

